<div class="navbar  bg-dealer">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link color-white "> <i class="f7-icons">chevron_left</i></a>
        </div>
        <div class="center color-white">{{@global.LANGUAGE.ASSET_TRACK_MSG00}}</div>
        <div class="right">
            <a href="#" class="link refreshTrack color-white"  ><i class="f7-icons icon-refresh-map"></i></a>
        </div>
    </div>
</div>

<div class="pages">
    <div class="page position_page" data-page="asset.track">

        <div class="page-content " >
            <div class="position_map">
                <div class="map" id="map"></div>
                <div class="float_button_wrapper pano_button_wrapper bg-blue">
                    <a href="#" class="link color-white pano_button" data-lat="{{Lat}}" data-lng="{{Lng}}">
                        <i class="pano_preview_img"></i>
                    </a>
                </div>
                <div class="float_button_wrapper route_button_wrapper bg-dealer">
                    <a href="{{DirLink}}"  class="link external color-white route_button">
                        <i class="f7-icons icon-route color-white"></i>
                        <span>{{@global.LANGUAGE.ASSET_TRACK_MSG05}}</span>
                    </a>
                </div>
            </div>
            <div class="position_bottom">
                <div class="list-block media-list list-block-readonly no-hairlines-between no-margin">
                    <ul>
                        {{#if AssetName}}
                        <li class="item-content color-dealer">
                            <div class="item-media">{{@global.LANGUAGE.ASSET_TRACK_MSG03}}:</div>
                            <div class="item-inner">
                                <div class="item-title">{{AssetName}}</div>
                            </div>
                        </li>
                        {{/if}}
                        {{#if IMEI}}
                        <li class="item-content ">
                            <div class="item-media">{{@global.LANGUAGE.ASSET_TRACK_MSG01}}:</div>
                            <div class="item-inner">
                                <div class="item-title">{{IMEI}}</div>
                            </div>
                        </li>
                        {{/if}}
                        <!-- {{#if Phone}}
                        <li class="item-content">
                            <div class="item-media">{{@global.LANGUAGE.ASSET_TRACK_MSG02}}:</div>
                            <div class="item-inner">
                                <div class="item-title">{{Phone}}</div>
                            </div>
                        </li>
                        {{/if}}  -->

                        {{#if PositionTime}}
                        <li class="item-content">
                            <div class="item-media">{{@global.LANGUAGE.ASSET_TRACK_MSG04}}:</div>
                            <div class="item-inner">
                                <div class="item-title positionTime">{{PositionTime}}</div>
                            </div>
                        </li>
                        {{/if}}
                    </ul>
                </div>
                <div class="list-block media-list list-block-readonly-iputs no-hairlines no-margin">
                <ul>

                    <li class="item-content">
                        <div class="item-media"><i class="f7-icons icon-tracking color-dealer"></i></div>
                        <div class="item-inner">
                            <div class="item-text text_row_4 row address">
                                {{@global.LANGUAGE.COM_MSG08}}
                            </div>
                        </div>
                    </li>



                    <!-- <li class="item-content">
                         <div class="item-media color-red"><i class="f7-icons icon-status-alert"></i></div>
                         <div class="item-inner">
                             <div class="item-title row">
                                 <div class="col-33">{{Event1}}</div>
                                 <div class="col-66">{{Event1Time}}</div>
                             </div>
                         </div>
                     </li>
                     <li class="item-content">
                         <div class="item-media color-red"><i class="f7-icons icon-status-alert"></i></div>
                         <div class="item-inner">
                             <div class="item-title row">
                                 <div class="col-33">{{Event2}}</div>
                                 <div class="col-66">{{Event2Time}}</div>
                             </div>
                         </div>
                     </li>               -->

                </ul>
            </div>
            </div>






        </div>
    </div>
</div>
