<div class="navbar  bg-dealer">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link color-white"> <i class="f7-icons">chevron_left</i></a>
        </div>
        <div class="center color-white ">{{@global.LANGUAGE.ASSET_EDIT_MSG11}}</div>
        <div class="right">
            <a href="#" class="link color-white" id="save"><i class="f7-icons icon-apply"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page bg-color-page add_edit_photo_page" data-page="asset.edit.photo">

        <div class="page-content">

            <div style="" class="mui-content">
                <div class="asset_img_before_crop" style="">
                    <img style="max-width: 980px; max-height: 980px; " id="image" src="{{imgSrc}}">
                </div>
                <button id="redo" type="button" class="button button-fill bg-dealer"><span class="f7-icons">forward</span></button>
                <button id="undo" type="button" class="button button-fill bg-dealer"><span class="f7-icons">reply</span></button>
            </div>


        </div>
    </div>
</div>
