<div class="navbar  bg-dealer">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel color-white"> <i class="f7-icons icon-menu"></i></a>
        </div>
        <div class="center color-white">{{@global.LANGUAGE.MENU_MSG01}}</div>
        <div class="right">
            <a href="#" class="link saveResetPwd color-white" ><i class="f7-icons icon-apply"></i></a>
        </div>
        <div class="subnavbar tabbar">
            <div class="buttons-row user_settigns_tabbar">
                <a href="#" class="tab-link " data-id="user.profile">
                    <span class="tabbar-label"><b>{{@global.LANGUAGE.USER_PROFILE_MSG09}}</b></span>
                </a>
                <a href="#" class="tab-link active" data-id="user.password" >
                    <span class="tabbar-label"><b>{{@global.LANGUAGE.USER_PROFILE_MSG06}}</b></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page bg-color-page page_profile with-subnavbar" data-page="user.password">
        <div class="page-content " >
            <div class="list-block no-hairlines ">
                <ul>

                    <li class="item-content">
                        <div class="item-media"><i class="f7-icons icon-password color-dealer"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">{{@global.LANGUAGE.USER_PROFILE_MSG06}}</div>
                            <div class="item-input">
                                <input type="password" placeholder="{{@global.LANGUAGE.USER_PROFILE_MSG06}}" name="Password" value="" maxlength="200" class="color-blue">
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><!-- <i class="f7-icons "></i> --></div>
                        <div class="item-inner">
                            <div class="item-title label">{{@global.LANGUAGE.USER_PROFILE_MSG07}}</div>
                            <div class="item-input">
                                <input type="password" placeholder="{{@global.LANGUAGE.USER_PROFILE_MSG07}}" name="NewPassword" value="" maxlength="200" class="color-blue">
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><!-- <i class="f7-icons "></i> --></div>
                        <div class="item-inner">
                            <div class="item-title label">{{@global.LANGUAGE.USER_PROFILE_MSG08}}</div>
                            <div class="item-input">
                                <input type="password" placeholder="{{@global.LANGUAGE.USER_PROFILE_MSG08}}" name="NewPasswordConfirm" value="" maxlength="200" class="color-blue">
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>

