<div class="page bg-color-page page_profile" data-page="user.profile">
	<div class="navbar  bg-dealer">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back "> <i class="f7-icons icon-arrow-back"></i></a>
            </div>
            <div class="left navbar_title">{{@global.LANGUAGE.MENU_MSG01}}</div>     
            <div class="right">
                <a href="#" class="link saveProfile" ><i class="f7-icons icon-apply"></i></a>
            </div>       
        </div>
    </div>

    <div class="toolbar tabbar user_settigns_tabbar ">
        <div class="toolbar-inner">
            <a href="#" class="tab-link active" data-id="user.profile">
                <span class="tabbar-label"><b>{{@global.LANGUAGE.USER_PROFILE_MSG09}}</b></span>
            </a>
            <a href="#" class="tab-link " data-id="user.password" >
                <span class="tabbar-label"><b>{{@global.LANGUAGE.USER_PROFILE_MSG06}}</b></span>
            </a>
        </div>
    </div>

	<div class="page-content " >

        <div class="list-block media-list no-hairlines ">           
            <ul>
                <li class="item-content">                  
                    <div class="item-media"><i class="f7-icons icon-name color-dealer"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">{{@global.LANGUAGE.USER_PROFILE_MSG01}}</div>
                        <div class="item-input">
                            <input type="text" placeholder="{{@global.LANGUAGE.USER_PROFILE_MSG01}}" name="FirstName" value="{{FirstName}}" maxlength="200" class="color-blue">
                        </div>
                    </div>
                </li>
                <li class="item-content border_bottom">                    
                    <div class="item-media"><!-- <i class="f7-icons  color-dealer"></i> --></div>
                    <div class="item-inner">
                        <div class="item-title label">{{@global.LANGUAGE.USER_PROFILE_MSG02}}</div>
                        <div class="item-input">
                            <input type="text" placeholder="{{@global.LANGUAGE.USER_PROFILE_MSG02}}" name="SubName" value="{{SubName}}" maxlength="200" class="color-blue">
                        </div>
                    </div>                    
                </li>
                <li class="item-content border_bottom">                    
                    <div class="item-media"><i class="f7-icons icon-email color-dealer"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">{{@global.LANGUAGE.USER_PROFILE_MSG03}}</div>
                        <div class="item-input">
                            <input type="email" placeholder="{{@global.LANGUAGE.USER_PROFILE_MSG03}}" name="EMail" value="{{EMail}}" maxlength="200" class="color-blue">
                        </div>
                    </div>                    
                </li>
                <li class="item-content">                   
                    <div class="item-media"><i class="f7-icons icon-mobile-phone color-dealer"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">{{@global.LANGUAGE.USER_PROFILE_MSG04}}</div>
                        <div class="item-input">
                            <input type="tel" placeholder="{{@global.LANGUAGE.USER_PROFILE_MSG04}}" name="Mobile" value="{{Mobile}}" maxlength="200" class="only_numbers color-blue">
                        </div>
                    </div>                    
                </li>
                <li class="item-content border_bottom">                    
                    <div class="item-media"><i class="f7-icons icon-phone color-dealer"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">{{@global.LANGUAGE.USER_PROFILE_MSG05}}</div>
                        <div class="item-input">
                            <input type="tel" placeholder="{{@global.LANGUAGE.USER_PROFILE_MSG05}}" name="Phone" value="{{Phone}}" maxlength="200" class="only_numbers color-blue">
                        </div>
                    </div>                    
                </li>
            </ul>
        </div>
        <div class="list-block no-hairlines no-margin-bottom">
            <ul>
                <li>
                    <div class="item-content hintData" data-hint-text="{{@global.LANGUAGE.PROMPT_MSG021}}" data-hint-title="{{@global.LANGUAGE.PANIC_SETTINGS_MSG00}}">
                        <div class="item-media showHint"><i class="f7-icons icon-info color-dealer"></i></div>
                        <div class="item-inner">
                            <div class="item-title showHint">{{@global.LANGUAGE.PANIC_SETTINGS_MSG00}}</div>
                            <label class="label-switch">
                                <input type="checkbox" name="PanicButtonState" {{#if PanicButtonState}}checked="checked"{{/if}}>
                                <div class="checkbox"></div>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="item-link smart-select">
                        <select name="PanicButtonBehaviour" multiple >
                                <option value="call" data-display-as="{{@global.LANGUAGE.PANIC_SETTINGS_MSG04}}" {{#if PanicButtonActions.call}}selected{{/if}}>{{@global.LANGUAGE.PANIC_SETTINGS_MSG02}}</option>
                                <option value="sms" data-display-as="{{@global.LANGUAGE.PANIC_SETTINGS_MSG05}}" {{#if PanicButtonActions.sms}}selected{{/if}}>{{@global.LANGUAGE.PANIC_SETTINGS_MSG03}}</option>
                        </select>
                        <div class="item-content">
                            <div class="item-media"><i class="f7-icons icon-panic color-dealer"></i></div>
                            <div class="item-inner">
                                <div class="item-title">{{@global.LANGUAGE.PANIC_SETTINGS_MSG01}}</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="list-block no-hairlines no-margin-top">
            <ul>
                <li class="item-content border_bottom">
                    <div class="item-media"><i class="f7-icons icon-phone color-dealer"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">{{@global.LANGUAGE.PANIC_SETTINGS_MSG06}}</div>
                        <div class="item-input">
                            <input type="tel" placeholder="+13001234512" name="EmergencyPhone" value="{{EmergencyPhone}}" maxlength="200" class="only_numbers_plus color-blue">
                        </div>
                    </div>
                </li>
                <li class="item-content ">
                    <div class="item-media"><i class="f7-icons icon-email color-dealer"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">{{@global.LANGUAGE.PANIC_SETTINGS_MSG07}}</div>
                        <div class="item-input">
                            <input type="tel" placeholder="+13001234512" name="SmsPhone" value="{{SmsPhone1}}" maxlength="200" class="only_numbers_plus color-blue">
                        </div>
                    </div>
                </li>
                <li class="item-content ">
                    <div class="item-media"></div>
                    <div class="item-inner">
                        <div class="item-title label">{{@global.LANGUAGE.PANIC_SETTINGS_MSG07}}</div>
                        <div class="item-input">
                            <input type="tel" placeholder="+13001234512" name="SmsPhone" value="{{SmsPhone2}}" maxlength="200" class="only_numbers_plus color-blue">
                        </div>
                    </div>
                </li>
                <li class="item-content ">
                    <div class="item-media"></div>
                    <div class="item-inner">
                        <div class="item-title label">{{@global.LANGUAGE.PANIC_SETTINGS_MSG07}}</div>
                        <div class="item-input">
                            <input type="tel" placeholder="+13001234512" name="SmsPhone" value="{{SmsPhone3}}" maxlength="200" class="only_numbers_plus color-blue">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


