@charset "UTF-8";

@font-face {
  font-family: "phonelocator-app";
  src:url("fonts/phonelocator-app.eot");
  src:url("fonts/phonelocator-app.eot?#iefix") format("embedded-opentype"),
    url("fonts/phonelocator-app.woff") format("woff"),
    url("fonts/phonelocator-app.ttf") format("truetype"),
    url("fonts/phonelocator-app.svg#phonelocator-app") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "phonelocator-app" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "phonelocator-app" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-new:before {
  content: "\61";
}
.icon-add-photo:before {
  content: "\62";
}
.icon-apply:before {
  content: "\63";
}
.icon-arrow-back:before {
  content: "\64";
}
.icon-delete:before {
  content: "\65";
}
.icon-email:before {
  content: "\66";
}
.icon-home:before {
  content: "\67";
}
.icon-image-content:before {
  content: "\68";
}
.icon-imei:before {
  content: "\69";
}
.icon-logout:before {
  content: "\6a";
}
.icon-menu:before {
  content: "\6b";
}
.icon-menu2:before {
  content: "\6c";
}
.icon-mobile-phone:before {
  content: "\6d";
}
.icon-name:before {
  content: "\6e";
}
.icon-password:before {
  content: "\6f";
}
.icon-phone:before {
  content: "\70";
}
.icon-pin-map:before {
  content: "\71";
}
.icon-refresh-map:before {
  content: "\72";
}
.icon-route:before {
  content: "\73";
}
.icon-search:before {
  content: "\74";
}
.icon-selected-asset:before {
  content: "\75";
}
.icon-setting2:before {
  content: "\76";
}
.icon-settings:before {
  content: "\77";
}
.icon-timing:before {
  content: "\78";
}
.icon-tracking:before {
  content: "\79";
}
.icon-user-no-photo:before {
  content: "\7a";
}
.icon-asset-name:before {
  content: "\41";
}
.icon-day-of-week:before {
  content: "\42";
}
.icon-panic:before {
  content: "\43";
}
.icon-info:before {
  content: "\44";
}
