<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048274347661-gbopbmls17fba46vu23vl78lkq623a17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048274347661-gbopbmls17fba46vu23vl78lkq623a17</string>
	<key>API_KEY</key>
	<string>AIzaSyC2AA8PoaXg2ZMsKpNjxfDc1H2or-KnW8c</string>
	<key>GCM_SENDER_ID</key>
	<string>1048274347661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vici.app</string>
	<key>PROJECT_ID</key>
	<string>vici-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vici-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048274347661:ios:5af4a6186f1a29670064c4</string>
	<key>DATABASE_URL</key>
	<string>https://vici-app.firebaseio.com</string>
</dict>
</plist>