:root {
    --f7-bars-bg-color: #42B2AA;
    --f7-bars-bg-color-rgb: 66,178,170;

    --f7-bars-link-color: #fff;
    --f7-bars-text-color: #fff;
    --f7-theme-color: #42B2AA;
    --f7-bars-border-color:#42B2AA;

    --f7-tabbar-link-active-color:#fff;
    --f7-tabbar-link-active-border-color:#fff;
    --f7-tabbar-link-inactive-color: rgba(255, 255, 255, 0.7);

    --f7-navbar-bg-color: #42B2AA;
    /*
    --f7-toolbar-bg-image: var(--f7-bars-bg-image);
    */

    /*START SEARCHBAR*/
    /*
  --f7-searchbar-bg-image: var(--f7-bars-bg-image);

  --f7-searchbar-bg-color-rgb: var(--f7-bars-bg-color-rgb);
  --f7-searchbar-border-color: var(--f7-bars-border-color);
  */

    --f7-searchbar-bg-color: #F2F2F2;
    --f7-searchbar-bg-color-rgb: 242,242,242;
    --f7-searchbar-height: 44px;
    --f7-searchbar-inner-padding-left: 8px;
    --f7-searchbar-inner-padding-right: 8px;
    /*
    --f7-searchbar-link-color: var(--f7-bars-link-color, var(--f7-theme-color));
    */
    --f7-searchbar-input-font-size: 16px;
    --f7-searchbar-input-border-radius: 4px;
    --f7-searchbar-input-height: 32px;
    --f7-searchbar-input-padding-horizontal: 28px;
    /*
    --f7-searchbar-inline-input-padding-horizontal: var(--f7-searchbar-input-padding-horizontal);
    --f7-searchbar-input-clear-button-color: var(--f7-input-clear-button-color);
    */
    --f7-searchbar-backdrop-bg-color: rgba(0, 0, 0, 0.4);
    --f7-searchbar-shadow-image: none;
    --f7-searchbar-in-page-content-margin: 0px;
    --f7-searchbar-in-page-content-box-shadow: none;
    --f7-searchbar-in-page-content-border-radius: 0;
    --f7-searchbar-in-page-content-input-border-radius: 0;
    --f7-searchbar-search-icon-color: rgba(0, 0, 0, 0.4);
    --f7-searchbar-input-bg-color: #fff;
    /*END SEARCHBAR*/

    /*START LIST ITEM*/
    --f7-list-item-text-max-lines: 10;
    /*END LIST ITEM*/
    --f7-block-title-text-color: var(--f7-theme-color);
    --f7-block-title-text-transform: uppercase;
}
.smart-select,
.list-custom{
    --f7-list-item-after-text-color: #000;
    --f7-list-item-title-text-color: rgba(0,0,0,.65);
}
.list .custom-smart-select .item-after{
    max-width: 100%;
    padding-top: 8px;
    margin-left: 0;
    color: var(--f7-input-text-color);
    font-size: var(--f7-input-font-size);
    background-color: var(--f7-input-bg-color,transparent);
    padding-left: var(--f7-input-padding-left);
    padding-right: var(--f7-input-padding-right);
}
.ios .list .custom-smart-select .item-after{
    padding-top: 11px;
    padding-bottom: 6px;
}
.list .custom-smart-select .item-inner:after{
    content: '';
    position: absolute;
    background-color: var(--f7-list-item-border-color);
    display: block!important;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    width: -webkit-calc(100% - 16px);
    width: -moz-calc(100% - 16px);
    width: -o-calc(100% - 16px);
    width: calc(100% - 16px);
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}
.list li:last-child .custom-smart-select .item-inner:after{
    display: none;
}
.ios .list .item-media{
    min-width: 25px;
}


.md .navbar label.icon-only {
    min-width: 0;
    flex-shrink: 0;
    width: 56px;
}
.md .navbar label.link {
    padding: 0 16px;
    min-width: 48px;
}
.navbar label.link {
    display: flex;
    justify-content: flex-start;
    line-height: var(--f7-navbar-link-line-height,var(--f7-navbar-height));
    height: var(--f7-navbar-link-height,var(--f7-navbar-height));
}
.ios .navbar label.icon-only{
    width: 44px;
    margin: 0;
    justify-content: center;
}
.ios .navbar .left label + a,
.ios .navbar .right label + a,
.ios .navbar .left a + label,
.ios .navbar .right a + label,
.ios .navbar .left label + label,
.ios .navbar .right label + label{
    margin-left: 16px;
}
.ios{
    --f7-page-bg-color: #fff;

    --f7-searchbar-border-color: var(--f7-searchbar-bg-color);

    --f7-searchbar-input-extra-padding-left: 15px;
    --f7-searchbar-input-border-radius: 8px;
    --f7-searchbar-bg-color: #F2F2F2;
}
.color-theme-custom {
    --f7-theme-color: #42B2AA;
    --f7-theme-color-rgb: 66,178,170;
    --f7-theme-color-shade: #69c8c1;
    --f7-theme-color-tint: #69c8c1; /*358e88*/
}
.bg-color-custom{
    background: #42B2AA!important;
}
.text-color-custom{
    color: #42B2AA!important;
}
/*.color-theme-custom .navbar{
    background: #42B2AA;
}*/
.bg-color-lightgray{
    --f7-theme-color-bg-color: #E6E6E6;
}
.text-color-lightgray {
    --f7-theme-color-text-color: #CCCCCC;
}
.bg-color-darkgray{
    --f7-theme-color-bg-color: #333333;
}
.text-color-darkgray {
    --f7-theme-color-text-color: #333333;
}
.color-custom {
    --f7-theme-color: #42B2AA;
    --f7-theme-color-rgb: 66,178,170;
    --f7-theme-color-shade: #358e88;
    --f7-theme-color-tint: #69c8c1;
}

.color-darkgray {
    --f7-theme-color: #333333;
    --f7-theme-color-rgb: 51,51,51;
    --f7-theme-color-shade: #292929;
    --f7-theme-color-tint: #404040;
}
.custom-searchbar{
    --f7-searchbar-input-padding-horizontal: 0px;
    --f7-searchbar-input-extra-padding-right: 96px;
}

.dialog{
    overflow: auto;
    max-height: 90%;
}


.overflow-hidden{
    overflow: hidden;
}
.vertical-align-middle{
    vertical-align: middle;
}
.tooltip-init{
    user-select: none
}
.overflow-visible{
    overflow: visible!important;
}
.only-2-rows{
    overflow: hidden;
    text-overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal !important;
}




.md .searchbar.custom-searchbar .input-clear-button{
    right: 48px;
}
.ios .searchbar.custom-searchbar .input-clear-button{
    right: 56px;

}
.ios .navbars~.page .toolbar-top~.searchbar{
    top: calc(var(--f7-navbar-height) + var(--f7-toolbar-height) + var(--f7-safe-area-top));
}
.searchbar.custom-searchbar button[type="submit"]{
    width: 48px;
    height: 48px;
    margin-top: -24px;
    right: 0;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.ios .searchbar.custom-searchbar button[type="submit"]{
    width: 44px;
    z-index: 40;
}
.searchbar.custom-searchbar button[type="submit"] i{
    vertical-align: middle;
}


.smart-select .input-invalid~.item-input-error-message {
    display: block;
    top: auto;
    bottom: 0;
    left: 72px;
}
.ios .smart-select .input-invalid~.item-input-error-message{
    position: absolute;
    left: 58px;
    margin-bottom: 0;
}

.notification .icon-notification{
    height: 16px;
    width: 16px;
}


.size-24{
    font-size: 24px;
}

.padding-bottom-quarter {
    padding-bottom: calc(var(--f7-typography-padding)/ 4)!important;
}
.item-divider.only-line{
    height: 1px;
}

.md .md-min-height-48{
    min-height: 48px;
}
.ios .ios-min-height-46{
    min-height: 46px;
}

/*PANEL LEFT*/
/*.user-img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}*/
.panel-header {
    background: url('../images/header_menu.png') no-repeat center center;
    background-size: cover;
    height: 120px;
    width: 100%;
    text-align: center;
}
    .panel-header .logo{
        width: 80%;
    }
        .panel-header .logo img{
            width: 100%;
        }

/*LOGIN SCREEN*/
.login-screen-content{
    --f7-list-bg-color: trasparent;
    background: url('../images/bg.png') no-repeat center center;
    background-size: cover;
    height: 100%!important;
}
    .login-screen-content .logo{
        margin-top: 48px;
    }
        .login-screen-content .logo img{
            max-width: 320px;
            width:100%;
        }
    .login-screen-content .list input{
        background: rgba(255,255,255,.6)!important;
    }
    .login-screen-content .input-clear-button.password-clear-button{
        margin-right: 48px;
    }
.password-toggle {
    position: absolute;
    right: 8px;
    cursor: pointer;
    transition: all .3s;

    margin-top: calc(-1 * 25px / 2);
    top: calc(var(--f7-input-height)/ 2);
}


    /*HOME PAGE*/

.home-map-wrapper{
    min-height: 200px;
    height: 100%;
    height: calc(100% - 193px);
    position: relative;
}
.ios .home-map-wrapper{
    height: calc(100% - 183px);
}

/*TIMING*/
.timing-time-label{
    font-size: var(--f7-list-font-size);
    font-weight: var(--f7-list-item-title-font-weight);
}

/*SHARE*/
.search-submit {
    position: absolute;
    right: 8px;
    cursor: pointer;
    transition: all .3s;
    margin-top: calc(-1 * 25px / 2);
    top: calc(var(--f7-input-height)/ 2);
}


/* MAP */
.map{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100px;
    min-width: 100px;
}
.leaflet-control-layers-toggle{
    background-image: url('../images/change-map.svg') !important;
    background-size: 100% 100% !important;
}
.leaflet-left{
    z-index: 10000;
}
.leaflet-control-layers:not(.leaflet-control-layers-expanded){
    border-radius: 50%;
}
.leaflet-popup-content-wrapper{
    border-radius: 6px;
}
.leaflet-popup-content{
    margin: 18px 24px;
}
.leaflet-container a.leaflet-popup-close-button{
    visibility: hidden;
}
.marker-data-table{

}
.marker-data-table td{
    border-bottom: 1px solid #E6E6E6;
    font-size: 13px;
    line-height: 1.2;
    padding: 4px 0;
    vertical-align: text-top;
}
.marker-data-table tr:last-child td{
    border-bottom: 1px solid transparent;
}
.marker-data-table .marker-data-caption{
    text-align: left;
    white-space: nowrap;
    color: #818181;

}
.marker-data-table .marker-data-value{
    text-align: right;
    color: #333;
    font-weight: 600;
    padding-left: 10px;
}
.leaflet-popup-close-button{
    /* display: none; */
}
.leaflet-control-layers-selector{
    visibility: hidden;
    width: 1px;
    margin: 0;
}
.leaflet-control-layers-scrollbar{
    overflow: auto;
}
.leaflet-control-layers label{
    display: inline-block;
    margin: 8px 8px;
    color: #999999;
    cursor: pointer;

}

.layer-icon{
    width: 72px;
}
.leaflet-control-layers-base p{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    padding-left: 4px;
}

.leaflet-control-layers-base input[type=radio]:checked + span{
    color: #000;
    transition: all .3s;
}

input[type=checkbox].leaflet-control-layers-selector{
    visibility: visible;
    width: 16px;
}

.leaflet-control-layers-overlays span{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    padding-left: 4px;
}

.leaflet-control-layers-overlays input[type=checkbox]:checked + span{
    color: #000;
    transition: all .3s;
}

html.color-theme-custom .leaflet-control-layers-overlays label input[type=checkbox]{
    display: none;
}
html.color-theme-custom .leaflet-control-layers-overlays label i{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
html.color-theme-custom .leaflet-control-layers-overlays label i:after{
    content: '';
    position: absolute;

}
html.color-theme-custom .leaflet-control-layers-overlays label input[type=checkbox]:checked + span i{
    background-color: #f44336;
    border-color: #f44336;
}
html.color-theme-custom .leaflet-control-layers-overlays label input[type=checkbox]:checked + span i:after{
    opacity: 1;
}

/* END MAP */

/*Panic Button*/
.float-panic-button{
    position: absolute;
    right: 16px;
    bottom: 16px;
    /*width: 160px;
    height: 160px;*/
    /*border-radius: 50%;*/
    z-index: 1500;
    /*box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);*/
    /*background-color: #fff;*/
    /*color: #000;*/
    /*overflow: hidden;*/
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.menu-panic-button{
    position: absolute;
    right: 50%;
    bottom: 16px;
    /*width: 160px;
    height: 160px;*/
    margin-right: -80px;
    /*border-radius: 50%;*/
    z-index: 1500;
    /*box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);*/
    /*background-color: #fff;*/
    /*color: #000;*/
    /*overflow: hidden;*/
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.float-panic-button i,
.menu-panic-button i{
    font-size: 160px;
}
/*.menu-panic-button img,
.float-panic-button img{
    width: 100%;
}*/

.custom-modal-logo-wrapper{
    text-align: center;
}
.custom-modal-logo{
    max-width: 160px;
    width: 100%;
}
.custom-modal-title{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    word-break: break-all;
}
.custom-modal-text{
    margin-top: 10px;
    color: #757575;
    font-size: 16px;
}


.fab.fab-custom>a{
    flex-wrap: wrap;
}
.fab.fab-custom>a i{
    position: initial;
    transform: none;
    font-size: 20px;
}
.fab.fab-custom .fab-text{
    font-weight: normal;
    text-transform: none;
    font-size: 11px;
    letter-spacing: normal;
    padding: 0;
    /*margin-top: -24px;*/
}
.fab-custom i.pano-preview-img{
    background: url('../images/pano-preview.png') no-repeat center center;
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
}
.fab.fab-custom.with-borders>a{
    border: 1px solid #fff;
    box-sizing: border-box;
}

.fab-custom2{
    position: absolute;
    bottom: var(--f7-safe-area-bottom);
    z-index: 1500;
    width: 100%;
    padding: var(--f7-list-item-padding-horizontal);
    box-sizing: border-box;
}
.fab[class*="-bottom2"]{
    bottom: calc(var(--f7-fab-margin) + var(--f7-safe-area-bottom) + 60px);
}

.leaflet-control-fullscreen{
    background: #fff;
    padding: 5px;
}
.leaflet-control-fullscreen,
.leaflet-control-fullscreen .leaflet-control-fullscreen-button{
    border-radius: 50%;
}
/* STREET VIEW */
#pano {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 10000000;
}

.fab-pano-close{
    z-index: 100000000;
}
.fab-pano-close>a{
    background: rgba(0,0,0,.4);
}